
*
{
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: #6ECEEB;
}
.logo
{
    display: block;
    margin: auto;
    padding-top: 7%;
    width: 35%;
}

h1,h2 {
    display: none;
    color: #001feb;
}

h5
{
    color: #777777;
    display: block;
    text-align: center;
    font-size: 11px;
    padding: 0 15px;
}

.login
{
    border-radius: 3px;
    background-color: white;
    margin: auto;
    margin-top: 8%;
    max-height: 100%;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding-bottom: 15px;

}

label
{
    display: block;
    margin-top: 25px;
    font-size: 19px;
    color: #444444;
    text-align: center;
    margin-bottom: 0;
    font-weight: normal;
}
#brukernavn
{
    padding-top: 3%;

}


.inputBox
{
    text-indent: 10px;
    height: 25px;
    font-weight: 400;
    font-size: 10pt;
    display: block;
    margin: auto;
    border: 1px grey;
    border-style: solid;
    border-radius: .28571429rem;
    line-height: 1.21428571em;

}
.inputBox:hover
{
    border-color: black;
}

.inputBox:focus
{
    border-color: black;
    border-width: 1px;
    outline: None;
}

.inputBox.visible
{
    background-color: rgba(255,0,1,0.07);
    border-color: #ff5a5a;
}


.loginBtn
{

    padding-top: 4%;
    height: 40px;
}
.btn:hover
{
    background-color: rgba(33,106,181,0.99);
}

.btn
{
    height: 100%;
    background-color: #2185d0;
    border-radius: .28571429rem;
    border:none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    user-select: none;
    display: block;
    cursor: pointer;
    margin: auto;
    width: 100px;
    outline: None;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.btn[disabled], .btn[disabled]:hover
{
    background-color: #777777;
    cursor: auto;
    opacity: 0.5;
    pointer-events: none;
}


.glemtPassord, .glemtPassord:visited
{
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 0;
    margin-top: 10%;
    color: rgb(0, 0, 238);

}


.error
{
    visibility: hidden;
    color: red;
    text-align: center;
    font-size: small;
    font-style: italic;
    line-height: 0.3;
    padding-top: 2%;
}

.error.visible
{
    visibility: visible;
}


@media screen and (min-device-width: 300px) and (max-device-width: 767px){
    h1,h2
    {
        display: block;
        text-align: center;
    }
    #brukernavn
    {
        padding-top: 1%;

    }

    .login
    {
        width: 90vw;
    }

    .loginBtn {
        height: 40px;
    }

    .btn {
        width: 90%;
    }

    .inputBox
    {
        width: 90%;
    }

    .logo
    {
        width: 50%;
    }

}

























